/* ==============================
   Hero Section (Mobile First)
   ============================== */
.hero {
  background: var(--hero-background);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.25rem;
  color: var(--white-color);
  min-height: 85vh;
  padding: 5vh 0;
}

/* ---------- Títulos ---------- */
.hero-content {
  justify-content: center;
}

.hero__title {
  font-family: var(--primary-font);
  font-size: 3.5em;
  line-height: 1;
}

.hero__lastname {
  display: block;
}

.hero__subtitle {
  font-weight: normal;
  font-size: 1em;
  margin: 1rem 0;
  opacity: 80%;
}

/* ---------- Botões CTA ---------- */
.hero__buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.875rem;
}

.hero__btn {
  position: relative;
  width: fit-content;
  padding: 0.625rem 1.225rem;
  font-size: clamp(1em, 5vw, 1.25em);
  font-weight: 500;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 0.625rem;
  background: transparent;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s ease;
  margin: 0 auto;
}

.hero__btn:hover {
  transform: scale(1.1);
}

.hero__btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--purple-color);
  border-radius: inherit;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.hero__btn--projects {
  border: none;
  border: 1px solid transparent;
}

.hero__btn--projects::before {
  transform: scaleY(1);
}

.hero__btn--contact {
  color: #e3e3e3df;
}

.hero__btn--contact::before {
  transform-origin: top;
}

.hero__btn--contact:hover {
  color: var(--white-color);
  border-color: transparent;
}

.hero__btn--contact:hover::before {
  transform: scaleY(1);
}

.hero:has(.hero__btn--contact:hover) .hero__btn--projects {
  border-color: var(--white-color);
  color: #e3e3e3df;
}

.hero:has(.hero__btn--contact:hover) .hero__btn--projects::before {
  transform: scaleY(0);
}

.hero__tech-container {
  display: flex;
  justify-content: center;
  gap: 1px;
  margin-top: 1rem;
}

.hero__tech {
  width: 2.5rem;
  transition: 0.3s ease-in-out;
  opacity: 40%;
}

.hero__tech:hover {
  transform: scale(1.1);
  opacity: 1;
}

/* ---------- Imagem e Chevron ---------- */
.hero__img {
  display: none;
}

.hero__chevron {
  width: 2.188em;
  margin-top: 2vh;
  animation: bounce 2.5s ease-in-out infinite;
}

/* ---------- Animação ---------- */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4vh);
  }
}

/* ==============================
   Responsividade
   ============================== */

/* Tablets / iPads */
@media (min-width: 40rem) {
  .hero {
    position: relative;
  }

  .hero-content {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    min-height: 50vh;
    position: static;
  }

  .hero__title {
    font-size: clamp(3em, 6vw, 4.5em);
  }

  .hero__lastname {
    display: inline;
  }

  .hero__subtitle {
    font-size: clamp(0.75em, 2vw, 1.225em);
  }

  .hero__buttons-container {
    justify-content: start;
    gap: min(0.785rem) max(0.875rem);
  }

  .hero__btn {
    font-size: clamp(0.7em, 1.5vw, 1.25em);
    margin: 0;
  }

  .hero__tech-container {
    justify-content: start;
  }

  .hero__img {
    display: block;
    width: clamp(17rem, 40vw, 27rem);
  }

  .hero__chevron {
    position: absolute;
    bottom: 5vw;
    left: 50%;
    transform: translateX(-50%);
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translate(-50%, 0);
    }
    50% {
      transform: translate(-50%, 1.563rem);
    }
  }
}

/* Laptops Médios */
@media (min-width: 64rem) {
  .hero-content {
    min-height: 85vh;
    justify-content: center;
    gap: 15%;
  }

  .hero__chevron {
    width: 3.125rem;
  }
}

/* Desktops */
@media (min-width: 81rem) {
  .hero__title {
    font-size: 5em;
  }

  .hero__lastname {
    display: inline;
  }

  .hero__btn {
    font-size: 1.25em;
  }
}
