/* ==============================
   Nav (Mobile First)
   ============================== */
.nav {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--navbar-background);
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5.25rem;
  font-family: "Playfair Display", sans-serif;
}

/* ---------- Logo ---------- */
.nav__logo {
  color: var(--white-color);
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: -7px;
  z-index: 10;
}

/* ---------- Lista de links ---------- */
.nav__list {
  position: fixed;
  top: 5.25rem;
  right: 0;
  width: 100vw;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;

  background-color: var(--navbar-background);
  border-top: 1px solid var(--white-color);
  clip-path: circle(100px at 90% -50%);
  transition: 0.7s ease-in-out;
  pointer-events: none;
}

.nav.active .nav__list {
  clip-path: circle(1500px at 10% -50%);
  pointer-events: all;
}

/* ---------- Links ---------- */
.nav__link {
  color: var(--white-color);
  font-size: clamp(1em, 5vw, 1.5em);
  padding: 1em;
  transition: 0.3s;
}

.nav__link:hover {
  letter-spacing: 3px;
  text-shadow: 0 0 5px var(--white-color);
}

/* ---------- Botão Hamburguer ---------- */
.nav__hamburguer {
  border: none;
  background: none;
  cursor: pointer;
  z-index: 10;
  padding-block: 1.5rem;
}

.nav__hamburguer-line {
  display: block;
  width: 2.25rem;
  height: 0.2rem;
  margin-top: 0.438rem;

  background: var(--white-color);
  border-radius: 0.625rem;
  transition: 0.3s;
}

.nav.active .nav__hamburguer-line:nth-of-type(1) {
  transform: translateY(0.638rem) rotate(45deg);
}

.nav.active .nav__hamburguer-line:nth-of-type(2) {
  opacity: 0;
}

.nav.active .nav__hamburguer-line:nth-of-type(3) {
  transform: translateY(-0.638rem) rotate(-45deg);
}

/* ==============================
   Responsividade
   ============================== */

/* Tablets / iPads */
@media (min-width: 40rem) {
  .nav-content {
    justify-content: space-between;
    padding-inline: 2rem;
  }

  .nav__logo {
    font-size: 2em;
    letter-spacing: normal;
  }

  .nav__list {
    position: static;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1.25rem;

    background: none;
    border: none;
    clip-path: none;
    transition: none;
    pointer-events: all;
  }

  .nav__link {
    font-size: 1.125em;
    padding: 0;
  }

  .nav__hamburguer {
    display: none;
  }
}

/* Laptops Médios */
@media (min-width: 64rem) {
  .nav-content {
    padding: 0;
  }
}
